body{
  margin: 0;
  padding: 0;
  font-family:  "Bebas Neue";
}
/*Complete Page*/
.completepage{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Complete Page*/

/*Sidebar*/
.sidebar{
  width: 250px;
  height: 100vh;
  background-color: black;
  border-right: 1px solid rgba(50, 50, 50, 0.500);
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.companydiv{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  display: flex;
  justify-content: start;
  align-items: center;
}
.companylogo{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companylogoimage{
  width: 30px;
}
.companyname{
  color: rgb(151, 151, 151);
  font-size: 25px;
  font-weight: 200;
}
.infodiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.linkdiv{
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  background-color: black;
  padding-top: 10px;
}
.devdiv{
  width: 100%;
  height: 80px;
  background-color: black;
  border-top: 1px solid rgba(50, 50, 50, 0.500);
}
.linkbutton{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
}
.linkimage{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkimageimage{
  width: 20px;
}
.linktag{
  color: grey;
}
.linkbutton:hover{
  background-color: rgb(7, 7, 7);
  transition: 0.3s;
  color: white;
  cursor: pointer;
}
.linkbutton:hover .linktag{
  color: white;
  transition: 0.3s;
}
.textdec{
  text-decoration: none;
  width: 100%;
}


/*Sidebar*/


/*Mainbar*/
.mainbar{
  width: calc(100% - 250px);
  height: 100vh;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

/*Mainbar*/

/*Homepage*/
.heading{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  display: flex;
  justify-content: start;
  align-items: center;
}
.headingtag{
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-left: 40px;
}
.mainbarpage{
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainpagetags{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagcards{
  width: 30%;
  height: 200px;
  background-color: rgb(17, 17, 17);
  margin: 1%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.totalordertag{
  background: url('/gradient1.png');
  background-position: center;
  background-size: cover;
}
.processedordertag{
  background: url('/gradient3.png');
  background-position: center;
  background-size: cover;
}
.remainingorderstag{
  background: url('/gradient2.png');
  background-position: center;
  background-size: cover;
}
.topcard{
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.middlecard{
  width: 90%;
  height: 70%;
  /* background-color: blue; */
  display: flex;
  justify-content: start;
  align-items: center;
}
.bottomcard{
  width: 90%;
  height: 0%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardicon{
  height: 80%;
  filter: invert(1);
}
.cardtoptag{
  color: white;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-left: 10px;
}
.ordernumber{
  font-size: 130px;
  color: white;
  letter-spacing: 2px;
  margin-left: 10px;
}
.recentorderssection{
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recentorderheading{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: grey;
  font-size: 25px;
  font-weight: 1px;
  font-weight: 200;
  margin-left: 80px;
  margin-bottom: 20px;
}
.recentordersdiv{
  width: 95%;
  height: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom:0px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  border-top: 1px solid rgba(50, 50, 50, 0.500);
}
.sno{
  width: 30px;
  height: 100%;
  /* background-color: blue */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.itemimage{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productimage{
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.itemid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  color: grey;
  font-weight: 100;
  font-size: 20px;
}
.custname{
  width: 150px;
}
.status{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 40px;
  padding: 5px;
  padding-right: 10px;
  color: white;
  font-size: 12px;
}
.redcircle{
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}



@media (max-width:600px){
  .completepage{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  /*Sidebar Responsive*/
  .sidebar{
    width: 100%;
    height: 60px;
    background-color: black;
    border-top: 1px solid rgba(50, 50, 50, 0.500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  .companydiv{
    display: none;
  }
  .devdiv{
    display: none;
  }
  .infodiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .linkdiv{
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    background-color: black;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkbutton{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkimage{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkimageimage{
    width: 30px;
  }
  .linktag{
    color: grey;
    display: none;
  }
  .linkbutton:hover{
    background-color: rgb(7, 7, 7);
    transition: 0.3s;
    color: white;
    cursor: pointer;
  }
  .linkbutton:hover .linktag{
    color: white;
    transition: 0.3s;
  }
  .textdec{
    text-decoration: none;
    width: 100%;
  }
  /*Sidebar Responsive*/


  /*Mainbar Responsive*/
  .mainbar{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .heading{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.500);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headingtag{
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-left: 0px;
  }
  .mainbarpage{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mainpagetags{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tagcards{
    width: 30%;
    height: 150px;
    background-color: rgb(17, 17, 17);
    margin: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .totalordertag{
    background: url('/gradient1.png');
    background-position: center;
    background-size: cover;
  }
  .processedordertag{
    background: url('/gradient3.png');
    background-position: center;
    background-size: cover;
  }
  .remainingorderstag{
    background: url('/gradient2.png');
    background-position: center;
    background-size: cover;
  }
  .topcard{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .middlecard{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottomcard{
    width: 90%;
    height: 0%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardicon{
    height: 50%;
    filter: invert(1);
  }
  .cardtoptag{
    color: white;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-left: 10px;
    font-size: 10px;
  }
  .ordernumber{
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    margin-left: 10px;
  }
  .recentordersdiv{
    width: 95%;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom:0px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(50, 50, 50, 0.500);
    border-top: 1px solid rgba(50, 50, 50, 0.500);
  }
  .sno{
    width: 15px;
    height: 100%;
    /* background-color: blue */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
  }
  .itemimage{
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productimage{
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  .itemid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    color: grey;
    font-weight: 100;
    font-size: 12px;
  }
  .custname{
    width: 100px;
  }
  .status{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 40px;
    padding: 5px;
    padding-right: 10px;
    color: white;
    font-size: 10px;
  }
  .redcircle{
    width:8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
  }
}



@media (max-width:1000px) and (min-width:600px){
  .cardtoptag{
    color: white;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-left: 10px;
    font-size: 12px;
  }
  .ordernumber{
    font-size: 80px;
    color: white;
    letter-spacing: 2px;
    margin-left: 10px;
  }
}


/*Order Page*/
.orderheading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter{
  background-color: royalblue;
  margin-right: 40px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.filter:hover{
  cursor: pointer;
}
.ordersection{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderpagecard{
  width: 100%;
  height: 200px;
  border-top: 1px solid rgba(50, 50, 50, 0.500);
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.snoimage{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.prodimageorderpage{
  width: 160px;
  border-radius: 10px;
  margin-left: 15px;
}
.idquantity{
  width: 150px;
  color: grey;
  font-weight: 400;
  font-size: 20px;
}
.custnameorderpage{
  width: 250px;
}
.buttonsection{
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}
.markasdonebutton{
 width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: green;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rejectorderbutton{
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-green{
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.2);
  border-radius: 20px;
}
.greenborder{
  border: 1px solid green;
}
.greencircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}
.hidebutton{
  display: none;
}
/* 
.orderpagecard {
  border: 2px solid transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-green {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.259);
}

.redcircle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.greencircle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.prodimageorderpage {
  width: 150px;
  height: 150px;
}

.snoimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.idquantity {
  display: flex;
  flex-direction: column;
}

.buttonsection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
} */


@media (max-width:600px){
  .orderheadingtag{
    margin-left: 40px;
    font-size: 25px;
  } 
  .ordersection{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .orderpagecard{
    width: 95%;
    height: 
    150px;
    border-top: 1px solid rgba(50, 50, 50, 0.500);
    border-bottom: 1px solid rgba(50, 50, 50, 0.500);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .snoimage{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 15px;
  }
  .prodimageorderpage{
    width: 90%;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .idquantity{
    width: 20%;
    color: grey;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: space-around;align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .custnameorderpage{
    width: 20%;
  }
  .buttonsection{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
  }
  .markasdonebutton{
   width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .filter{
    margin-right: 10px;
  }

  
  .rejectorderbutton{
    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .border-green{
    border: 2px solid green;
  }
  .greencircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
  }
  .hidebutton{
    display: none;
  }
  
}
.markasdonebutton:hover,.rejectorderbutton:hover{
  cursor: pointer;
}


.orderdetailssection{
  width:80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  margin: 20px;
  border-radius: 40px;
}
.orderdetailspageimage{
  width: 400px;
  height: 400px;
  border-radius: 40px;
  margin: 40px;
}
.ordercardlink{
  width: 90%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderdata{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  font-size:20px;
  color: white;
}

@media (max-width:600px){
  .orderdetailssection{
    width:90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    margin: 20px;
    border-radius: 20px;
  }
  .orderdetailspageimage{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 40px;
  }
  .ordercardlink{
    width: 90%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orderdata{
    width: 80%;
    height: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    font-size:20px;
    color: white;
  }
}
.totalitems{
  font-size: 20px;
  color: grey;
  font-weight: 500;
  padding-top: 10px;
  padding-left:40px;
  padding-bottom: 10px;
}
.inventorysection{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 0px;
}
.inventoryheads{
  width: 100%;
  height: 59px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  border-top: 1px solid rgba(50, 50, 50, 0.500);
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.invsno{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invimg{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invid{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invname{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invquantity{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invbutton{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.invcard{
  width: 100%;
  height: 150px;
  border-top: 1px solid rgba(50, 50, 50, 0.500);
  border-bottom: 1px solid rgba(50, 50, 50, 0.500);
  display: flex;
  justify-content: center;
  align-items: center;
}
.invimgimg{
  width: 110px;
  height: 110px;
  border-radius: 20px;
}
.deleteitembutton{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.deleteitembutton:hover{
  cursor: pointer;
}

@media (max-width:600px){
  .inventory{
    
  }
  .totalitems{
    font-size: 20px;
    color: grey;
    font-weight: 500;
    padding-top: 10px;
    padding-left:0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;align-items: center;
  }
  .inventorysection{
    width: 95%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 0px;
    padding-left: 2.5%;
    padding-right:2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inventoryheads{
    width: 95%;
    height: 59px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.500);
    border-top: 1px solid rgba(50, 50, 50, 0.500);
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .invsno{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-right: 10px;
  }
  .invimg{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  .invid{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  .invname{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  .invquantity{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  .invbutton{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  .invcard{
    width: 100%;
    height: 150px;
    border-top: 1px solid rgba(50, 50, 50, 0.500);
    border-bottom: 1px solid rgba(50, 50, 50, 0.500);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .invimgimg{
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  .deleteitembutton{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
  }
  .deleteitembutton:hover{
    cursor: pointer;
  }
  
}